/*Mobile*/
@media screen and (max-width: 768px) {
    .experthjalp {
        font-size: 270%;
    }

    body {
        text-align: center;
    }

    .experthjalp {
        font-size: 280%;
    }
}
/*Ipad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .experthjalp {
        font-size: 430%;
    }

    body {
        text-align: center;
    }

    .pText {
        font-size: 180%
    }

    h2 {
        font-size: 240%
    }

    .moreSpace {
        margin-bottom: 10%;
    }

    .somLonarSig {
        margin-bottom: 6%;
    }
}
/*Computer*/
@media screen and (min-width: 1024px) {
    body {
        text-align: center;
        height: 3em;
    }

    html, body {
        height: 100%;
    }

    .left-column, .right-column {
        display: inline-block;
        width: 42%;
        vertical-align: top;
        margin-right: 5%
    }

    .experthjalp {
        font-size: 400%;
    }

    .somLonarSig {
        margin-bottom: 6%;
    }
}

