img {
    border-radius: 10px; /* adds rounded corners to the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* adds a subtle shadow effect */
}

@media screen and (max-width: 768px){
    .centered {
        opacity: 1;
        width: 40%;
        height: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .centered {
        opacity: 1;
        width: 30%;
        height: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {
    .centered {
        opacity: 1;
        width: 20%;
        height: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
