@media screen and (max-width: 768px) {
    .imgRed{
        margin-top: -3em;
    }
    .textOnImgRed {
        margin-top: -5%;
        width: 80%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .textOnImgRed {
        position: absolute;
        top: 21.5% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .textOnImgRed, h3 {
        font-size: 100%;
    }

    .textOnImgRed, p {
        font-size: 80%;
    }
}