body {
    font-family: 'Sofia Sans';
}

header {
    height: 100px;
}


img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.menyinnovation-container {
    display: flex;
    margin-top: 8em;
    margin-bottom: 8em;
}

.TextUnderBild {
    text-align: center;
    margin-top: 2em;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    z-index: 1;
}

.breadcrumbs {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

    .breadcrumbs a {
        text-decoration: none;
    }

        .breadcrumbs a:hover {
            text-decoration: underline;
        }

/*Phone*/
@media screen and (max-width: 767px) {
    .huvudbild {
        width: 90%;
        margin-left: 1em;
    }
    .image-text{
        font-size: 60%;
        width: 90%;
    }
    h2 {
        font-size: 165%;
    }
    .breadcrumbs{
        font-size:80%;
    }
    .TextUnderBild {
        font-size: 70%;
    }
    .menyinnovation-container {
        font-size: 60%;
    }
    .DriftoptimeringsBild{
        width: 50%;
        height: 10em;
    }
    .MenyInnovationBild {
        width: 50%;
        height: 10em;
    }
    .kontaktaossknapp {
        position: absolute;
        top: 230%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .huvudbild {
        width: 90%;
        margin-left: 2em;
    }
    .MenyInnovationBild {
        width: 60%;
    }
    .DriftoptimeringsBild {
        width: 60%;
    }
    .kontaktaossknapp {
        position: absolute;
        top: 238%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15em;
    }
}

/*Computer*/
@media screen and (min-width: 1024px) {
    .huvudbild {
        margin-left: 8.5em;
    }
    .MenyInnovationBild {
        width: 50%;
        height: 14em;
    }
    .DriftoptimeringsBild {
        width: 30%;
        height: 12em;
    }
    .image-text {
        margin-left: 4em;
    }
    .breadcrumbs {
        margin-left: 2.5em;
        font-size: 10px;
        font-size: 20px;
        margin-top: 20px;
    }
    .kontaktaossknapp {
        position: absolute;
        top: 360%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15em;
    }
}
