@font-face {
    font-family: 'Nico Moji';
    src: url('../fonts/nicomoji/NicoMoji-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('../fonts/SofiaSans-VariableFont_wght.ttf') format('truetype');
}
/*p, h1, h2{
    color: white;
}
img {
    width: 100%;
    margin-top: -4.3%;
    filter: brightness(1.5);
}*/
p {
    font-family: 'Sofia Sans';
    font-size: 1.14em;
}

html {
    position: relative;
    min-height: 100%;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
/*    background-image: url('../images/gettyrf_578188633.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

a {
    color: inherit;
    text-decoration: none;
}

    body, a:hover {
        color: #000000;
    }

.ResEkoStyle {
    font-family: 'Nico Moji';
    font-size: 2.2em;
    color: #5F396A;
}

.OmOssStyle {
    font-weight: 800;
    color: #5F396A;
    font-family: 'Sofia Sans';
    text-align: left;
}

.footerStyle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Sofia Sans';
    position: relative;
    bottom: 0;
}

.footer-section {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section, p {
    font-size: 100%;
}


/*Mobile*/
@media screen and (max-width: 768px) {
    .container-fluid {
        align-content: center;
    }

    .footerStyle {
        display: block;
        justify-content: space-between;
        align-items: flex-start;
        font-family: 'Sofia Sans';
        line-height: 0.6em;
        position:relative;
        bottom: 0;
    }
}
/*Ipad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container-fluid {
        align-content: center;
    }
    .footerStyle {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-family: 'Sofia Sans';
        line-height: 1em;
    }
    footer{
        margin-top: 15%;
    }

}
@media screen and (min-width: 1024px){
    .container {
        gap: 3em;
        margin-top: 2em;
        display: flex;
    }
}

