@font-face {
    font-family: 'Nico Moji';
    src: url('../fonts/nicomoji/NicoMoji-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sofia Sans';
    src: url('../fonts/SofiaSans-VariableFont_wght.ttf') format('truetype');
}
header a:hover {
    color: #5F396A;
}
p {
    font-family: 'Sofia Sans';
    font-size: 1.14em;
}

a {
    color: inherit;
    text-decoration: none;
}
    body, a:hover {
        color: #000000;
    }

.ResEkoStyle {
    font-family: 'Nico Moji';
    font-size: 3.2em;
    color: #5F396A;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.socialamedier {
    font-weight: 800;
    color: black;
    font-family: 'Sofia Sans';
    text-align: right;
    margin-right: 1em;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.footerStyle {
    display: flex;
    justify-content: space-between;
    font-family: 'Sofia Sans';
}

.footer-section {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linkedin{
    width:3em;
    height: 2em;
}

/*/*Mobile*/
@media screen and (max-width: 767px) {
    .header-container {
        margin-bottom: 1em;
    }
    h5{
        font-size:170%;
    }
    .footerStyle {
        font-family: 'Sofia Sans';
        line-height: 0.6em;
        font-size: 50%;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footerStyle {
        font-family: 'Sofia Sans';
        font-size: 70%;
    }
}
@media screen and (min-width: 1024px){
    .container {
        gap: 3em;
        display: flex;
    }
}

