<link rel="stylesheet" href="~/css/omoss.css" asp-append-version="true" />


<img class="centered" src="https://wordalist.com/uploads/profileimages/5182-8a0ef5e8bbd8005f2a2ae4de10f2ee276b319e0e.jpeg" width ="200" height="300"/>
<div style="text-align:center; margin-bottom: 100px;">
<br />
<p>
    Välkommen till ResEko, din pålitliga partner inom restaurangkonsultation och redovisning. Vi är ett erfaret och engagerat team av konsulter som arbetar med att hjälpa restauranger och andra matrelaterade företag att uppnå sina mål och driva sina verksamheter framåt.
</p>
<br />
<p>Vi erbjuder en omfattande utbud av tjänster som hjälper våra kunder att hantera och optimera sina ekonomiska resurser, samt att bygga upp och marknadsföra sina varumärken på bästa möjliga sätt. Vi förstår att varje företag är unikt och därför erbjuder vi skräddarsydda lösningar för att passa våra kunders specifika behov.</p>
<br />
<p>
    Vår restaurangkonsultationstjänst är avsedd för företag som behöver rådgivning och stöd inom en rad olika områden, inklusive menyplanering, marknadsföring, kostnadskontroll och personalhantering. Vårt team av kreativa och erfarna konsulter kan hjälpa till med allt från att utforma en meny som passar din målgrupp till att marknadsföra din restaurang på sociala medier och andra plattformar.
</p>
<br />
<p>Vår redovisningstjänst är utformad för att hjälpa företag att hantera sina ekonomiska resurser på ett effektivt och kostnadseffektivt sätt. Vi kan hjälpa dig att hantera bokföring, bokslut, deklarationer och skattefrågor, samt ge dig råd och stöd kring ekonomisk planering och budgetering.</p>
<br />
<p>Vårt mål är att hjälpa våra kunder att växa och utvecklas på bästa möjliga sätt, och vi tror att vår passion för mat och affärer, tillsammans med vår kompetens och erfarenhet, gör oss till den perfekta partnern för ditt företag. Kontakta oss idag för att diskutera hur vi kan hjälpa dig att uppnå dina affärsmål.</p>
<br />
<p>// Måns Wikman, VD</p>
</div>