@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 experthjalp">Experthjälp</h1>
    <h2 class="somLonarSig">Som lönar sig</h2>
</div>
<hr />
<div class="container homePageHeaders">
<div class="restaurangRubrik">
    <a asp-controller="Home" asp-action="">
    <h2>Restaurang</h2>
    <p>Vi är dedikerade till att hjälpa restaurangägare att uppnå framgång genom att erbjuda expertis inom en mängd olika områden, från menydesign och köksplanering till marknadsföring och personalhantering.</p>
        </a>
</div>
<div class="restaurangRubrik">
    <a>
    <h2>Redovisning</h2>
    <p>Inom redovisning är vi specialiserade på att hjälpa företag att upprätthålla sund ekonomisk praxis och säkerställa fullständig efterlevnad av lagar och förordningar. Vårt team av erfarna och kunniga redovisningsexperter är engagerade i att hjälpa dig att uppnå dina finansiella mål.</p>
        </a>
</div>
</div>


