<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<h1 class="experthjalp">Experthjälp</h1>
<h2 class="somLonarSig">Som lönar sig</h2>
<hr />
<div class="container">
    <a asp-controller="Home" asp-action="Restaurang">
        <div class="left-column">
            <h3>Restaurang</h3>
            <p class="pText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate tortor sed ipsum dictum varius. Praesent faucibus justo vitae ipsum vehicula, sed malesuada lacus rutrum. </p>
            <p style="color:black;">Tryck här för att läsa mer om restaurang! </p>
        </div>
    </a>
    <a asp-controller="Home" asp-action="Redovisning">
        <div class="right-column">
            <h3>Redovisning</h3>
            <p class="pText">Sed eu consequat orci. Etiam justo sem, bibendum eget volutpat vitae, facilisis ac mauris. Nunc ut nibh quis tellus facilisis fringilla eget vitae leo. Phasellus interdum, lectus nec feugiat facilisis, diam elit vulputate risus, ut malesuada arcu eros eu quam.</p>
            <p style="color:black;">Tryck här för att läsa mer om redovisning!</p>
        </div>
    </a>
</div>


