<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <h1 class="experthjalp">Experthjälp</h1>
    <h2 class="somLonarSig">Som lönar sig</h2>
    <hr />
    <div class="container">
        <a asp-controller="Home" asp-action="Restaurang">
            <div class="left-column">
                <h2>Restaurang</h2>
                <p class="pText">Vi är dedikerade till att hjälpa restaurangägare att uppnå framgång genom att erbjuda expertis inom en mängd olika områden, från menydesign och köksplanering till marknadsföring och personalhantering.</p>
                <p style="color:blue;">Tryck här för att läsa mer om restaurang! </p>
            </div>
        </a>
        <a asp-controller="Home" asp-action="Redovisning">
            <div class="right-column">
                <h2>Redovisning</h2>
                <p class="pText">Inom redovisning är vi specialiserade på att hjälpa företag att upprätthålla sund ekonomisk praxis och säkerställa fullständig efterlevnad av lagar och förordningar. Vårt team av erfarna och kunniga redovisningsexperter är engagerade i att hjälpa dig att uppnå dina finansiella mål.</p>
                <p style="color:blue;">Tryck här för att läsa mer om redovisning!</p>
            </div>
        </a>
    </div>


