<link rel="stylesheet" href="~/css/Allaboxsidor.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/restaurangverksamhet.css" asp-append-version="true" />
<div class="image-container">
    <img src="~/images/konceptinnovation/skärmbild 2023-06-26 091518.jpg" alt="Image" class="huvudbild"><img />
    <div class="breadcrumbs">
        <a asp-controller="Home" asp-action="Restaurang">Restaurang</a>
        <span>›</span>
        <a>Konceptinnovation</a>
        <hr style="color:gold;" />
    </div>
    <div class="image-text">
        <h2>
            Gör dina idéer till framgångsrika restaurangkoncept.
        </h2>
        <p>Vi är specialiserade på att omvandla kundens inspiration till praktiska och lönsamma mat- och dryckesföretag. </p>
    </div>
</div>
<div class="TextUnderBild">
    <p>
        En framgångsrik restaurang handlar om mer än att laga fantastisk mat - det handlar om att leverera en extraordinär gästupplevelse. Oavsett om du är ny i restaurangbranschen eller en erfaren veteran, så har vi årtionden av verkliga erfarenheter inom mat- och dryckesbranschen för att hjälpa dig att fylla i tomrummen och ta reda på exakt vad du behöver för att göra din dröm till verklighet.
    </p>
    <p>Från självständiga företag till flera enheter, kommer vi att hjälpa dig att maximera dina matserveringskoncept före, under och efter varje kundinteraktion. Med beprövade processer som betonar lönsamhet och effektivitet hjälper vi dig att utveckla hela omfattningen av din matserveringsupplevelse från grunden - koncept, varumärke, meny, operationella system, anläggning, service, marknadsföringsstrategier och mer. <hr style="color:gold;" />
</div>

<div class="menyinnovation-container">
    <img src="~/images/konceptinnovation/konceptutveckling.jpg" class="DriftoptimeringsBild" />
    <div style="margin-left: 3em; text-align:center;">
        <h2 style="color:#680000">
            Konceptutveckling
        </h2>
        <p>
            Utveckla din idé till ett starkt varumärke med en tydlig synpunkt.
        </p>
    </div>
</div>
<hr style="color:gold;" />
<div class="menyinnovation-container">
    <div style=" margin-right: 3em; text-align:center;">
        <h2 style="color:#680000">
            Märkesdesign
        </h2>
        <p>
            Se till att varje aspekt av din varumärkesupplevelse stödjer din unika differentieringspunkt.
        </p>
    </div>
    <img src="~/images/konceptinnovation/märkesdesign.jpg" class="DriftoptimeringsBild" />
</div>
<hr style="color:gold;" />
<div class="menyinnovation-container">
    <img src="~/images/konceptinnovation/griffeltavla-gatupratare.png" class="DriftoptimeringsBild" />
    <div style="margin-left: 3em; text-align:center;">
        <h2 style="color:#680000">
            Marknadsföring
        </h2>
        <p>
            Skapa erbjudanden och kampanjer som når dina stamkunder och lockar in nya kunder. Vi hjälper dig att skapa kommunikation och marknadsföringsmaterial som spelar roll.
        </p>
    </div>
</div>
<hr style="color:gold; margin-bottom:5em;" />
<a asp-controller="Home" asp-action="Konsultation" type="button" class=" kontaktaossknapp btn btn-primary btn-lg">Kontakta oss</a>