<link href="~/css/konsultation.css" rel="stylesheet" />
<div class="Konsultationsrubrik">
    <div class="form-container">
        <form>
            <fieldset>
                <legend>Konsultation</legend>
                <p>Ange dina uppgifter nedan så hör vi av oss så snart vi kan!</p>
                <div style="text-align:left;">
                    <label for="name">Namn</label>
                    <input type="text" id="name" name="Namn" />
                    <label for="email">Email</label>
                    <input type="text" id="email" name="Email" />
                    <label for="nummer">Telefonnummer</label>
                    <input type="text" id="number" name="Telefonnummer" />
                    <label for="kommentar">Kommentar</label>
                    <textarea type="text" id="comment" name="Kommentar"></textarea>
                </div>
            </fieldset>
            <input class="bekräftaknapp btn btn-primary btn-lg" type="submit" value="Bekräfta" />
        </form>
    </div>
</div>