@model Customer

<link href="~/css/konsultation.css" rel="stylesheet" />
<div class="Konsultationsrubrik">
    <div class="form-container">
        <form asp-action="Konsultation" method="post">
            <fieldset>
                <legend>Konsultation</legend>
                <p>Ange dina uppgifter nedan så hör vi av oss så snart vi kan!</p>
                <div style="text-align:left;">
                    <label asp-for="Name">Namn</label>
                    <input asp-for="Name" />
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" />
                    <label asp-for="Phonenumber">Telefonnummer</label>
                    <input asp-for="Phonenumber" />
                    <label asp-for="Comment">Kommentar</label>
                    <textarea asp-for="Comment"></textarea>
                </div>
            </fieldset>
            <input class="bekräftaknapp btn btn-primary btn-lg" type="submit" value="Bekräfta" />
        </form>
    </div>
</div>