<link href="~/css/redovisning.css" rel="stylesheet" />
<link href="~/css/restaurang.css" rel="stylesheet" />

<img class="imgRed" src="~/images/skärmbild 2023-04-18 133922.png" />
<div class="textOnImgRed textOnImg">
    <h3>Dina Siffror</h3>
    <h3>Vår Passion</h3>
    <hr />
    <p>Vi är ett team av erfarna redovisningskonsulter som är passionerade av att hjälpa små och medelstora företag att växa genom att tillhandahålla pålitliga och professionella redovisningstjänster.</p>
    <a asp-controller="Home" asp-action="Konsultation" type="button" class="btn btn-primary btn-lg">Begär Gratis Konsultation</a>
</div>
<div class="RestaurangText column">
    <h3>Redovisning</h3>
    <p>Vi förstår att varje företag är unikt och därför erbjuder vi skräddarsydda lösningar för att passa dina specifika behov. Vårt mål är att hjälpa dig att förstå din ekonomi bättre så att du kan fatta mer välinformerade beslut för att driva ditt företag framåt.</p>
</div>
<hr />
<div class="MenyAvTjanster">
    <h2 style="color:#878200">Vår kontoplan av tjänster</h2>
</div>
<div class="container">
    <div class="box">
        <p>Bokföring</p>
        <img class="restaurantimg"src="~/images/accounting.png" />
        <div class="listclass">
            <ul>
                <li>Transaktioner</li>
                <li>Fakturor</li>
                <li>Dokumentering</li>
            </ul>
        </div>
        <div class="mobile-only">
            <hr />
        </div>
    </div>
    <div class="box">
        <p>Rådgivning</p>
        <img class="restaurantimg"src="~/images/financial-advisor.png" />
        <div class="listclass">
            <ul>
                <li>Finansiella frågor</li>
                <li>Budgetering</li>
                <li>Investeringar</li>
            </ul>
        </div>
        <div class="mobile-only">
            <hr />
        </div>
    </div>
    <div class="box">
        <p>Utbildning<p>
            <img class="educationimg" src="~/images/education.png" />
            <div class="listclass">
                <ul>
                    <li>Utveckling</li>
                    <li>Ekonomi ledning</li>
                    <li>Workshops</li>
                </ul>
            </div>

    </div>
</div>