<link href="~/css/redovisning.css" rel="stylesheet" />
<link href="~/css/restaurang.css" rel="stylesheet" />
<img class="redovisningsbild" src="~/images/skärmbild 2023-04-18 133922.png" />
<div class="textOnImg">
    <h3>Dina Siffror</h3>
    <h3>Vår Passion</h3>
    <hr />
    <p>Nullam vulputate sed nisi ut viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean quis elementum erat. </p>
    <a asp-controller="Home" asp-action="Konsultation" type="button" class="btn btn-primary btn-lg">Begär Gratis Konsultation</a>
</div>
<div class="smooth-scroll animateOnScroll">
<div class="RestaurangText column">
    <h3>Redovisning</h3>
    <p>Ut justo massa, consequat at eros vitae, semper fermentum erat. Praesent semper laoreet velit et lacinia. Nullam porttitor leo tempus elit auctor varius. Donec nec lacus id enim suscipit pharetra. Nullam efficitur ut erat vel tempor.</p>
</div>
<hr />
<div class="MenyAvTjanster">
    <h2 style="color:#878200">Vår kontoplan av tjänster</h2>
</div>
<div class="container">
    <div class="box">
        <a asp-controller="Home" asp-action="Bokföring">
            <p>Bokföring</p>
                <img class="restaurantimg" src="~/images/boxikoner/accounting.png" />
            <div class="listclass">
                <ul>
                    <li>Transaktioner</li>
                    <li>Fakturor</li>
                    <li>Dokumentering</li>
                </ul>
            </div>
        </a>
        <div class="mobile-only">
            <hr />
        </div>
    </div>
    <div class="box">
        <a asp-controller="Home" asp-action="Rådgivning">
            <p>Rådgivning</p>
                <img class="restaurantimg" src="~/images/boxikoner/financial-advisor.png" />
            <div class="listclass">
                <ul>
                    <li>Finansiella frågor</li>
                    <li>Budgetering</li>
                    <li>Investeringar</li>
                </ul>
            </div>
        </a>
        <div class="mobile-only">
            <hr />
        </div>
    </div>
    <div class="box">
        <a asp-controller="Home" asp-action="Redovisningutbildning">
            <p>Utbildning<p>
                    <img class="educationimg" src="~/images/boxikoner/education.png" />
                <div class="listclass">
                    <ul>
                        <li>Utveckling</li>
                        <li>Ekonomi ledning</li>
                        <li>Workshops</li>
                    </ul>
                </div>
        </a>
    </div>
</div>
</div>

<script>
    function animateOnScroll() {
        const elements = document.querySelectorAll('.smooth-scroll');
        elements.forEach(element => {
            const elementTop = element.getBoundingClientRect().top;
            const elementBottom = element.getBoundingClientRect().bottom;
            const viewportHeight = window.innerHeight;
            if (elementTop < viewportHeight && elementBottom >= 0) {
                element.classList.add('animate');
            } else {
                element.classList.remove('animate');
            }
        });
    }

    window.addEventListener('scroll', animateOnScroll);
</script>