<link rel="stylesheet" href="~/css/Allaboxsidor.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/restaurangverksamhet.css" asp-append-version="true" />
<div class="image-container">
    <img src="~/images/boxbilder/skärmbild 2023-05-02 150937.png" />
    <div class="breadcrumbs">
        <a asp-controller="Home" asp-action="Restaurang">Restaurang</a> >
        <span>Verksamhet</span> 
        <hr/>
    </div>
    <div class="text-container">
    <h3>Vi arbetar tillsammans för att skräddarsy en strategi som passar dina behov och mål.</h3>
    <p>Praktiska lösningar från konsulter som förstår utmaningarna som verksamheter möter i dagens restaurangbransch </p>
    </div>
</div>