<div class="restaurantdiv">
<img src="https://ontheburner.foodservicedirect.com/wp-content/uploads/2019/09/staffmeeting_resized_otb.jpg" style="opacity:50%; width:85%; height: 100%; margin-top: -16px;">
</div>