<link rel="stylesheet" href="~/css/Allaboxsidor.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/restaurangverksamhet.css" asp-append-version="true" />
<div class="img-container">
    <<img src=""/>
</div>