<link rel="stylesheet" href="~/css/restaurang.css" asp-append-version="true" />

<div class="container">
    <img src="https://ontheburner.foodservicedirect.com/wp-content/uploads/2019/09/staffmeeting_resized_otb.jpg" style="opacity:50%; width:85%; height: 100%; margin-top: -16px; border-style:none;">
    <div class="centered">
        <h3>Praktiska lösningar.</h3>
        <h3>Lönsamma Resultat.</h3>
    </div>
</div>