<link rel="stylesheet" href="~/css/restaurang.css" asp-append-version="true" />
<img src="https://ontheburner.foodservicedirect.com/wp-content/uploads/2019/09/staffmeeting_resized_otb.jpg">
<div class="textOnImg">
    <h3>Praktiska lösningar.</h3>
    <h3>Lönsamma Resultat.</h3>
    <hr />
    <p>Branschledande restaurangkonsulter som levererar praktiska lösningar och hjälper dig att uppnå bästa resultat</p>
    <a asp-controller="Home" asp-action="Konsultation" type="button" class="btn btn-primary btn-lg">Begär Gratis Konsultation</a>
</div>
<div class="RestaurangText column">
    <h3>Restaurang</h3>
    <p>Från meny till drift till ekonomisk prestanda har våra erfarna konsulter hjälpt hundratals restauranger att snabbt diagnosticera problem och designa handlingsplaner för optimal framgång.</p>
</div>
<hr />
<div class="MenyAvTjanster">
    <h2 style="color:#878200">Vår meny av tjänster</h2>
</div>
<div class="container">
    <div class="box">
        <p>Restaurangverksamhet</p>
        <img class="restaurantimg" src="/images/order-food.png" />
        <div class="listclass">
            <ul>
                <li>Menyinnovation</li>
                <li>Konceptinnovation</li>
                <li>Utbildning</li>
            </ul>
        </div>
        <div class="mobile-only">
            <hr />
        </div>
    </div>
    <div class="box">
        <p>Konceptinnovation</p>
        <img class="restaurantimg" src="~/images/creation.png" />
        <div class="listclass">
            <ul>
                <li>Konceptutveckling</li>
                <li>Märkesdesign</li>
                <li>Marknadsföring</li>
            </ul>
        </div>
        <div class="mobile-only">
            <hr />
        </div>
    </div>
    <div class="box">
        <p>Utbildning<p>
            <img class="educationimg" src="~/images/education.png" />
            <div class="listclass">
                <ul>
                    <li>Utveckling</li>
                    <li>Restaurang ledning</li>
                    <li>Workshops</li>
                </ul>
            </div>

    </div>
</div>

